@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");

@import "tailwindcss";

@theme {
  /* typography */
  --font-montserrat: "Montserrat", sans-serif;
  /* --font-archivo: "Archivo", sans-serif; */
  --font-anton: "Anton", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  /* --font-changa_one: "Changa One", sans-serif; */

  /* white color w/shades */
  --color-white: #ffffff;
  --color-offwhite: #f7f5fa;

  /* black color w/shades */
  --color-black: #000000;
  --color-charcoal: #1a1a1d;
  --color-gray: #6e6e76;
  --color-alabasterGrey: #e5e5e5;
  --color-graphite: #363636;

  /* violet/purple color w/shades */
  --color-lavenderLightest: #dec9e9;
  --color-lavenderLighter: #dac3e8;
  --color-lavenderLight: #d2b7e5;
  --color-lavenderSoft: #c19ee0;
  --color-lavender: #b185db;
  --color-lavenderMedium: #a06cd5;
  --color-lavenderDeep: #9163cb;
  --color-lavenderDark: #815ac0;
  --color-lavenderDarker: #7251b5;
  --color-lavenderDarkest: #6247aa;
}

/* 
.stretched-text {
  transform: scaleY(1.5);
  transform-origin: top;
} */
